<div class="header">
  <div class="profile pulse">
    <img alt="Profile Icon" src="images/profile_icon.png">
  </div>
  <div data-ui-field="header-box" layout="row center-center">
    <div class="title">
      Home
    </div>
    <div data-ui-load="shared/input_box"></div>
    <div class="title">
      Notifications
    </div>
    <div class="title">
      Messages
    </div>
  </div>
</div>
<div data-ui-field="header-tools">
  <div class="topics" data-ui-load="@lib/controllers/view_pager" data-ui-options="options.topicIndicator">
    <div>
      Top Stories
    </div>
    <div>
      World
    </div>
    <div>
      Europe
    </div>
    <div>
      Travel
    </div>
  </div>
</div>
