<div class="menu">
    <div class="option" layout="row center-left">
        <i class="material-icons">bookmark_border</i>
        <span>Save for later</span>
    </div>
    <div class="option" layout="row center-left">
        <i class="material-icons">share</i>
        <span>Share</span>
    </div>
    <div class="option" layout="row center-left">
        <i class="material-icons">open_in_new</i>
        <span>Open link</span>
    </div>
    <div class="option" layout="row center-left">
        <i class="material-icons">not_interested</i>
        <span>Hide items from this source</span>
    </div>
    <div class="option" layout="row center-left">
        <i class="material-icons">thumb_up</i>
        <span>More like this</span>
    </div>
    <div class="option" layout="row center-left">
        <i class="material-icons">thumb_down</i>
        <span>Less like this</span>
    </div>
</div>
