. {
    position: fixed;
    bottom:0;
    left:0;
    right: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 200;
    overscroll-behavior-y: contain;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}
.menu {
    position: absolute;
    width: 100%;
    max-width: 420px;
    background: white;
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 16px 16px 0 0;
    box-shadow: 0 -5px 5px -5px #333;
    -webkit-transition: bottom 0.25s ease-in-out;
    -moz-transition: bottom 0.25s ease-in-out;
    -ms-transition: bottom 0.25s ease-in-out;
    -o-transition: bottom 0.25s ease-in-out;
    transition: bottom 0.25s ease-in-out;
}
.menu div {
    padding: 16px;
    height:48px
}
.menu div span {
    margin-left: 24px;
}
.menu div i {
    color: gray;
    margin-left: 8px;
}
.option:hover {
    background: rgba(0,0,0,0.1);
}
.no-transition {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
