/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 16px;
  margin: 0; padding: 0;
  background: white;
}

.content {
  font-family: serif;
  font-size: 110%;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.drawer {
  background: white;
}

.feed-pager {
  height: 100vh;
  z-index: 0;
}
