h1 {
  font-size: 140%;
  font-weight: 500;
  margin: 0 4px;
}

.summary {
  position: absolute;
  padding: 4px;
  left:0; bottom:8px; right: 0;
}
.summary {
  color: white;
  background-color: rgba(0,0,0,0.6);
}
[self*="size-1of3"]  h1 {
  font-size: 120% !important;
}
